{
        {$CADDY_GLOBAL_OPTIONS}

        frankenphp {
                #worker /path/to/your/worker.php
                {$FRANKENPHP_CONFIG}
        }

        # https://caddyserver.com/docs/caddyfile/directives#sorting-algorithm
        order mercure after encode
        order vulcain after reverse_proxy
        order php_server before file_server
        order php before file_server
}

{$CADDY_EXTRA_CONFIG}

{$SERVER_NAME:localhost} {
        log {
                # Redact the authorization query parameter that can be set by Mercure
                format filter {
                        wrap console
                        fields {
                                uri query {
                                        replace authorization REDACTED
                                }
                        }
                }
        }

        root * /app/public/pub
        encode zstd gzip

        @blocked {
            path /media/customer/* /media/downloadable/* /media/import/* /media/custom_options/* /errors/*
        }
        respond @blocked 403

        @notfound {
            path_regexp reg_notfound \/\..*$|\/errors\/.*\.xml$|theme_customization\/.*\.xml
        }
        respond @notfound 404

        @staticPath path_regexp reg_static ^/static/(version\d*/)?(.*)$
        handle @staticPath {
            @static file /static/{re.reg_static.2}
            rewrite @static /static/{re.reg_static.2}

            @dynamic not file /static/{re.reg_static.2}
            rewrite @dynamic /static.php?resource={re.reg_static.2}
        }
        {$CADDY_SERVER_EXTRA_DIRECTIVES}

        php_server
}
